.Rhistory
.RData
.Rproj.user/
.Rproj
.Ruserdata
.Rbuildignore
.Rproj.user
.Rprofile
.Renviron
.Rproj.user/
.Rproj.user/**
.Rproj.user/*
.Rproj.user
.Rproj.user/**
.Rhistory
.Ruserdata
*.html
*.Rproj
*.RData
*.Rhistory
